* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: #334155
}
.container{
    margin: auto;
    background-color: #334155;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
.profile{
  width: 100px;
  border-radius: 50%;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  border: solid 5px #A6A57A;
}
.quote-container{
    font-size: 1rem;
    font-weight: medium;
    padding: 45px 20px 40px 50px;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
    text-align: left;
    position: relative;
}
.quote-container:before{
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 70px;
    opacity: 0.25;
    top: 0;
    left: 20px;
}
.caption{
    padding-top: 10px;
}
.caption-name{
    color:aliceblue
}
.caption-title{
    color: #a6a6a6;
}

@media screen and (min-width:600px){
    .flex-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}
}

@media screen and (min-width:800px){
    .flex-container{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 4px;
    justify-content: center;
    justify-items: center;
}
}