*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #334155;
}

.container{
    max-width: 315px;
    min-width: 230px;
    width: 100%;
    background-color: #334155;
    padding: 30px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    background-image: linear-gradient(-25deg, rgba(0 0 0 0.2)0%, rgba(255 255 0.1)100%);
}
.profile{
    width: 100px;
    border-radius: 50%;
    box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.4);
    margin-bottom: 0px;
    border: 5px solid #a6a57a
}
.caption{
    padding-top: 10px;
}
.caption h2{
    color: aliceblue;
}
.caption h4{
    color: #a6a57a;
}
.quote-container{
    font-size: 1.1rem;
    font-weight: medium;
    padding: 35px 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    position: relative;
}
.quote-container::before{
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 70px;
    opacity: 0.25;
}

@media screen and (min-width:600px) {
    .flex-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8;
    }
}
@media screen and (min-width:800px) {
    .flex-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
    }
    
}
@media screen and (min-width:1200px) {
    .flex-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 4px;
    }
    
}